
	#body{
		margin:0;
		padding:0;
		background-color:black;
		}
	
	#upperbar{
			width:100%;
			height:185px;
			background-color:#;
			float:left
		}
	
	#searchbar{
		   
           		   
		   margin-left:17%; 
		   width:30%;
		   height:150px;
		   
		   
		   
		}
	
	.img1{
		  float:left;
		  margin-left:18%;
		}
	
	